doctype html
html(lang="en")
    head
        title Matrix
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="styles/styles.css")
    body
        #letters-wrapper
        script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js')
        script(src="scripts/main.js")
